body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgb(79, 164, 224);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.table th {
    text-align: center;
}

.btn {
    border-radius: 5px;
}

.bi {
    margin-right: 5px;
}
/* Fondo de toda la página */
body {
    background-image: url("/static/images.jpeg");
    background-size: cover; /* que cubra todo */
    background-repeat: no-repeat;
    background-attachment: fixed; /* fijo al hacer scroll */
}

/* Imagen en la esquina superior derecha */
.img-esquina {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;   /* ajusta tamaño */
    height: auto;
}
.img-user {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}
