<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
<h2>Lista de Productos</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto[0] }}</td>
        <td>{{ producto[1] }}</td>
        <td>{{ producto[2] }}</td>
        <td>{{ producto[3] }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('formulario') }}">Agregar Producto</a><br>
<a href="{{ url_for('dashboard') }}">Volver al Dashboard</a>
</body>
</html>
